<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Set parameters</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="{% static "GDELT/css/datepicker.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "GDELT/js/datepicker.js" %}"></script>
    <script src="{% static "GDELT/js/datepicker.en.js" %}"></script>
    <link rel="stylesheet" href="{% static "GDELT/css/awesomplete.css" %}" />
    <script src="{% static "GDELT/js/awesomplete.js" %}" async></script>
    <style>
        .awesomplete{
            display: block;
        }
    </style>
</head>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6" id="param_list">
                {{ fields }}
				<button type="submit" class="btn btn-primary" id="SubmitButton">
					Submit
				</button>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<script>
    document.getElementById("SubmitButton").onclick = openPlot;
    // processing response on parameter check request
    function processResponse(xhr) {
        return function() {
            let json = JSON.parse(xhr.responseText);
            if (json.status === "ok") {
                window.location.replace("/loading/" + json.function + "/" + json.job_uuid);
            } else {
                let warning = document.getElementById("warning");
                if (warning == null) {
                    warning = document.createElement("div");
                    warning.id = "warning";
                    warning.className = "alert alert-danger";
                }
                warning.innerText = json.error;
                let submit_button = document.getElementById("SubmitButton");
                document.getElementById("param_list").insertBefore(warning, submit_button);
                document.getElementById(json.id).style.color = "red";
            }
        }
    }
    // Making function plot request with parameters as body
    function openPlot() {
        var request = {};
        let params = document.getElementsByClassName("param");
        for (let i = 0; i < params.length; i++){
            request[params[i].id]= params[i].value;
        }
        let xhr = new XMLHttpRequest();
        let url = "/plot_request/{{ function }}";
        xhr.open("POST", url, true);
        xhr.onload = processResponse(xhr);
        let data = JSON.stringify(request);
        xhr.send(data);
    }
    // Restricts input for the given textbox to the given inputFilter.
    function setInputFilter(textbox, inputFilter) {
      ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
        textbox.addEventListener(event, function() {
          if (inputFilter(this.value)) {
            this.oldValue = this.value;
            this.oldSelectionStart = this.selectionStart;
            this.oldSelectionEnd = this.selectionEnd;
          } else if (this.hasOwnProperty("oldValue")) {
            this.value = this.oldValue;
            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
          }
        });
      });
    }
    let intFilter = function(value) { return /^\d*$/.test(value); };
    let intParameters = document.getElementsByClassName("int_field");
    for (let i=0; i<intParameters.length; i++){
        setInputFilter(intParameters[i], intFilter);
    }

    let floatFilter = function(value) { return /^\d*\.?\d*$/.test(value); };
    let floatParameters = document.getElementsByClassName("float_field");
    for (let i=0; i<floatParameters.length; i++){
        setInputFilter(floatParameters[i], floatFilter);
    }
    // submit form by pressing enter
    let parameters = document.getElementsByClassName("param");
    for (let i=0; i<parameters.length; i++){
        if (!parameters[i].classList.contains("awesomplete")) {
            parameters[i].addEventListener("keydown", function (e) {
                if (e.keyCode === 13) {
                    openPlot();
                }
            });
        }
    }
</script>
<script src="http://leaverou.github.io/awesomplete/awesomplete.js"></script>
<script>
    // adding supporting of multiple input values into categorical field
    let cat_fields = document.getElementsByClassName("data-multiple");
    for (let i=0; i<cat_fields.length; i++) {
        new Awesomplete(cat_fields[i], {
            filter: function (text, input) {
                return Awesomplete.FILTER_CONTAINS(text, input.match(/[^;]*$/)[0]);
            },
            item: function (text, input) {
                return Awesomplete.ITEM(text, input.match(/[^;]*$/)[0]);
            },
            replace: function (text) {
                var before = this.input.value.match(/^.+;\s*|/)[0];
                this.input.value = before + text + ";";
            }
        });
    }
    // adding dropdown button for categorical fields with small number of possible values (<10)
    let drop_down_fields = document.getElementsByClassName("dropdown-input");
    for (let i=0; i<drop_down_fields.length; i++) {
        let comboplete = new Awesomplete(drop_down_fields[i], {
            minChars: 0,
        });
        var input_group_append = document.createElement("div");
        input_group_append.className = "input-group-append";

        var dropdown_btn = document.createElement("button");
        dropdown_btn.classList.add("btn", "btn-outline-secondary", "awesomplete-dropdown");
        dropdown_btn.innerText = "▼";
        dropdown_btn.style.position = "absolute";
        dropdown_btn.style.top = "0px";
        dropdown_btn.style.right = "0px";
        dropdown_btn.style.zIndex = "2";

        input_group_append.appendChild(dropdown_btn);

        let input = comboplete.input;
        let container = input.parentElement;
        container.style.position = "relative";
        container.appendChild(input_group_append);

        dropdown_btn.addEventListener("click", function() {
            if (comboplete.ul.childNodes.length === 0) {
                comboplete.minChars = 0;
                comboplete.evaluate();
            }
            else if (comboplete.ul.hasAttribute('hidden')) {
                comboplete.open();
            }
            else {
                comboplete.close();
            }
        });
    }
</script>
</body>
</html>